<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528162425018-diamgsac5bun1fqod0ni1q0ngl693udh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528162425018-diamgsac5bun1fqod0ni1q0ngl693udh</string>
	<key>API_KEY</key>
	<string>AIzaSyChk6PnliD_iWmPl9wKBwqUlA9VArGUd3M</string>
	<key>GCM_SENDER_ID</key>
	<string>528162425018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.www.thatismytype</string>
	<key>PROJECT_ID</key>
	<string>that-s-my-type</string>
	<key>STORAGE_BUCKET</key>
	<string>that-s-my-type.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528162425018:ios:4eb9d444fa7e912fe29a83</string>
	<key>DATABASE_URL</key>
	<string>https://that-s-my-type.firebaseio.com</string>
</dict>
</plist>